.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}

.item {
  padding: 100px;
}

.item.item-1 {
  background: yellowgreen;
}
.item.item-2 {
  background: orange;
}
.item.item-3 {
  background: orangered;
}
.item.item-4 {
  background: purple;
}
.item.item-5 {
  background: blueviolet;
}