<!-- <app-page-header-opcoes [heading]="'Perfil'" [icon]="'fa-table'"></app-page-header-opcoes> -->

<div class="panel panel-default profile-area">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div>
            <h1>Bem-vindo</h1>
            <h3 class="nickname"><small>Você está no painel de controle {{ profile.usuario.nome }}</small></h3>
        </div>
        <div>
            <h1>CPF</h1>
            <h3 class="nickname"><small>{{ profile.usuario.cpf }}</small></h3>
        </div>
        <hr>
    </div>



</div>